@import "modules/colors.module.css";
@import "modules/typography.module.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html #__next{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--standout-color);
    border-radius: 10px
}
