.pv3{
&__HomeGradientText{
     background: linear-gradient(to right, #EAE8FF 20%, #2667FF 40%, #2667FF 60%, #EAE8FF 80%);
     background-size: 200% auto;
     color: #000;
     background-clip: inherit;
     text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: shine 2s linear infinite;
 }

}

.pv3__viewMyProjectsIcon{
    animation: bounce 1.2s ease-in-out infinite;
}

@keyframes bounce {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(20px); }
    100% { transform: translateX(0); }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.pv3__viewMyProjects:hover{
      &::after{
     width: 100%;
 }
}
